/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Notice
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Tag
-------------------------- */
/* Switch
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Steps
--------------------------*/
/* clearfix
--------------------------*/
.zs-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dadada;
  color: #434343;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  user-select: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 0px;
}
.zs-button + .zs-button {
  margin-left: 10px;
}
.zs-button:active {
  color: #fff;
  border-color: #0578c3;
  outline: none;
}
.zs-button::-moz-focus-inner {
  border: 0;
}
.zs-button [class*="zs-icon-"] + span {
  margin-left: 5px;
}
.zs-button.is-plain:active {
  background: #fff;
  border-color: #0578c3;
  color: #0578c3;
  outline: none;
}
.zs-button.is-active {
  color: #0578c3;
  border-color: #0578c3;
}
.zs-button.is-disabled,
.zs-button.is-disabled:hover {
  color: #eee;
  cursor: not-allowed;
  background-image: none;
  background-color: #eee;
  border-color: #eee;
}
.zs-button.is-disabled.zs-button--text {
  background-color: transparent;
}
.zs-button.is-disabled.is-plain,
.zs-button.is-disabled.is-plain:hover {
  background-color: #fff;
  border-color: #434343;
  color: #434343;
}
.zs-button.is-loading {
  position: relative;
  pointer-events: none;
}
.zs-button.is-loading:before {
  pointer-events: none;
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.35);
}
.zs-button__primary {
  color: #fff;
  background-color: #0696f5;
  border-color: #0696f5;
}
.zs-button__primary:active,
.zs-button__primary.is-active {
  background: #0578c3;
  border-color: #0578c3;
  outline: none;
}
.zs-button__primary.is-plain {
  background: #fff;
  border: 1px solid #dadada;
  color: #434343;
}
.zs-button__primary.is-plain:active {
  background: #fff;
  border-color: #0578c3;
  color: #0587dd;
  outline: none;
}
.zs-button__cancel {
  color: #fff;
  background-color: #999;
  border-color: #999;
}
.zs-button__cancel:active,
.zs-button__cancel.is-active {
  background: #808080;
  border-color: #808080;
  outline: none;
}
.zs-button__cancel.is-plain {
  background: #fff;
  border: 1px solid #dadada;
  color: #434343;
}
.zs-button__cancel.is-plain:active {
  background: #fff;
  border-color: #808080;
  color: #8a8a8a;
  outline: none;
}
.zs-button__success {
  color: #fff;
  background-color: #1bc91a;
  border-color: #1bc91a;
}
.zs-button__success:active,
.zs-button__success.is-active {
  background: #159c14;
  border-color: #159c14;
  outline: none;
}
.zs-button__success.is-plain {
  background: #fff;
  border: 1px solid #dadada;
  color: #434343;
}
.zs-button__success.is-plain:active {
  background: #fff;
  border-color: #159c14;
  color: #18b517;
  outline: none;
}
.zs-button__warning {
  color: #fff;
  background-color: #fe931f;
  border-color: #fe931f;
}
.zs-button__warning:active,
.zs-button__warning.is-active {
  background: #e97a01;
  border-color: #e97a01;
  outline: none;
}
.zs-button__warning.is-plain {
  background: #fff;
  border: 1px solid #dadada;
  color: #434343;
}
.zs-button__warning.is-plain:active {
  background: #fff;
  border-color: #e97a01;
  color: #e5841c;
  outline: none;
}
.zs-button__danger {
  color: #fff;
  background-color: #eb433a;
  border-color: #eb433a;
}
.zs-button__danger:active,
.zs-button__danger.is-active {
  background: #dc2016;
  border-color: #dc2016;
  outline: none;
}
.zs-button__danger.is-plain {
  background: #fff;
  border: 1px solid #dadada;
  color: #434343;
}
.zs-button__danger.is-plain:active {
  background: #fff;
  border-color: #dc2016;
  color: #d43c34;
  outline: none;
}
.zs-button__info {
  color: #fff;
  background-color: #50bfff;
  border-color: #50bfff;
}
.zs-button__info:active,
.zs-button__info.is-active {
  background: #1dacff;
  border-color: #1dacff;
  outline: none;
}
.zs-button__info.is-plain {
  background: #fff;
  border: 1px solid #dadada;
  color: #434343;
}
.zs-button__info.is-plain:active {
  background: #fff;
  border-color: #1dacff;
  color: #48ace6;
  outline: none;
}
.zs-button__large {
  padding: 11px 19px;
  font-size: 16px;
  border-radius: 0px;
}
.zs-button__small {
  padding: 7px 9px;
  font-size: 12px;
  border-radius: 0px;
}
.zs-button__mini {
  padding: 4px 4px;
  font-size: 12px;
  border-radius: 0px;
}
.zs-button__text {
  border: none;
  color: #0696f5;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.zs-button__text:hover {
  color: #66c0fb;
}
.zs-button__text:active {
  color: #0578c3;
}
.zs-button-group {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}
.zs-button-group:after {
  content: " ";
  display: table;
  clear: both;
}
.zs-button-group .zs-button {
  float: left;
  position: relative;
}
.zs-button-group .zs-button + .zs-button {
  margin-left: 0;
}
.zs-button-group .zs-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.zs-button-group .zs-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.zs-button-group .zs-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.zs-button-group .zs-button:not(:last-child) {
  margin-right: -1px;
}
.zs-button-group .zs-button:hover,
.zs-button-group .zs-button:active {
  z-index: 1;
}
.zs-button-group .zs-button.is-active {
  z-index: 1;
}
.zs-button-group .zs-button__primary:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__primary:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__primary:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__danger:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__danger:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__danger:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__warning:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__warning:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__warning:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__danger:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__danger:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__danger:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__info:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__info:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.zs-button-group .zs-button__info:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
