/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Notice
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Tag
-------------------------- */
/* Switch
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Steps
--------------------------*/
/* clearfix
--------------------------*/
.zs-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.zs-input__inner {
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 0px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  color: #434343;
  display: block;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: none;
  padding: 3px 10px 3px 16px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.zs-input__inner::placeholder {
  color: #999;
}
.zs-input__inner:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.zs-input__icon {
  position: absolute;
  width: 36px;
  height: 100%;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 16px;
  color: #b8b9bb;
  transition: all .3s;
}
.zs-input__icon:after {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.zs-input__icon + .zs-input__inner {
  padding-right: 35px;
}
.zs-input__icon.is-clickable:hover {
  cursor: pointer;
  color: #0696f5;
}
.zs-input__icon.is-clickable:hover + .zs-input__inner {
  border-color: #0696f5;
}
.zs-input__icon-prev {
  right: auto;
  left: 0;
}
.zs-input__icon-prev + .zs-input__icon + .zs-input__inner,
.zs-input__icon-prev + .zs-input__inner {
  padding-left: 35px;
}
.zs-input.is-active .zs-input__inner {
  outline: none;
  border-color: #0696f5;
}
.zs-input.is-disabled .zs-input__inner {
  background-color: none;
  border-color: #eee;
  color: #888;
  cursor: not-allowed;
}
.zs-input.is-disabled .zs-input__inner::placeholder {
  color: #eee;
}
.zs-input.is-disabled .zs-input__icon {
  color: #eee !important;
}
.zs-input__large {
  font-size: 16px;
}
.zs-input__large .zs-input__inner {
  height: 42px;
}
.zs-input__small {
  font-size: 13px;
}
.zs-input__small .zs-input__inner {
  height: 30px;
}
.zs-input__mini {
  font-size: 12px;
}
.zs-input__mini .zs-input__inner {
  height: 22px;
}
.zs-input.is-search .zs-input__inner {
  transition: 0s;
}
.zs-input.is-search .zs-input__inner.is-focus {
  border-color: #0696f5;
  box-shadow: 0 2px 4px rgba(6, 150, 245, 0.12), 0 0 6px rgba(6, 150, 245, 0.12);
}
.zs-input.is-search .zs-input__inner.is-focus + .zs-icon-search {
  background: #0696f5;
  color: #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.zs-input.is-search .zs-icon-search {
  cursor: pointer;
  transition: 0s;
}
.zs-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
}
.zs-input-group > .zs-input__inner {
  vertical-align: middle;
  display: table-cell;
}
.zs-input-group__append,
.zs-input-group__prepend {
  background-color: #999;
  color: #fff;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #999;
  border-radius: 0px;
  padding: 0 10px;
  width: 1%;
  white-space: nowrap;
}
.zs-input-group__append .zs-select,
.zs-input-group__prepend .zs-select,
.zs-input-group__append .zs-button,
.zs-input-group__prepend .zs-button {
  display: block;
  margin: -10px;
}
.zs-input-group__append .zs-button,
.zs-input-group__prepend .zs-button,
.zs-input-group__append .zs-select .zs-input__inner,
.zs-input-group__prepend .zs-select .zs-input__inner,
.zs-input-group__append .zs-select:hover .zs-input__inner,
.zs-input-group__prepend .zs-select:hover .zs-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0;
}
.zs-input-group__append .zs-button,
.zs-input-group__prepend .zs-button,
.zs-input-group__append .zs-input,
.zs-input-group__prepend .zs-input {
  font-size: inherit;
}
.zs-input-group__prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.zs-input-group__append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.zs-input-group-prepend .zs-input__inner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.zs-input-group-append .zs-input__inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.zs-textarea {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
.zs-textarea .count {
  position: absolute;
  right: 25px;
  bottom: 10px;
  color: #999;
  font-size: 12px;
}
.zs-textarea__inner {
  display: block;
  resize: vertical;
  padding: 12px 16px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  color: #434343;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadada;
  border-radius: 0px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.zs-textarea__inner::placeholder {
  color: #999;
}
.zs-textarea__inner:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.zs-textarea.is-disabled .zs-textarea__inner {
  background-color: #eee;
  border-color: #eee;
  color: #eee;
  cursor: not-allowed;
}
.zs-textarea.is-disabled .zs-textarea__inner::placeholder {
  color: #eee;
}
