/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Notice
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Tag
-------------------------- */
/* Switch
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Steps
--------------------------*/
/* clearfix
--------------------------*/
.zs-radio {
  color: #434343;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  user-select: none;
}
.zs-radio + .zs-radio {
  margin-left: 15px;
}
.zs-radio__input {
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
}
.zs-radio__input.is-disabled .zs-radio__inner {
  background-color: #eee;
  border-color: #eee;
  cursor: not-allowed;
}
.zs-radio__input.is-disabled .zs-radio__inner::after {
  cursor: not-allowed;
  background-color: #eee;
}
.zs-radio__input.is-disabled .zs-radio__inner + .zs-radio__label {
  cursor: not-allowed;
}
.zs-radio__input.is-disabled.is-checked .zs-radio__inner {
  background-color: #eee;
  border-color: #eee;
}
.zs-radio__input.is-disabled.is-checked .zs-radio__inner::after {
  background-color: #fff;
}
.zs-radio__input.is-disabled + .zs-radio__label {
  color: #eee;
  cursor: not-allowed;
}
.zs-radio__input.is-checked .zs-radio__inner {
  border-color: #0696f5;
  background: #0696f5;
}
.zs-radio__input.is-checked .zs-radio__inner::after {
  transform: translate(-50%, -50%) scale(1);
}
.zs-radio__input.is-focus .zs-radio__inner {
  border-color: #0696f5;
}
.zs-radio__inner {
  border: 1px solid #dadada;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
}
.zs-radio__inner:hover {
  border-color: #0696f5;
}
.zs-radio__inner::after {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 60%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
}
.zs-radio__original {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.zs-radio__label {
  font-size: 14px;
  padding-left: 5px;
}
.zs-radio-group {
  display: inline-block;
  font-size: 0;
  line-height: 1;
}
.zs-radio-group .zs-radio {
  font-size: 14px;
}
.zs-radio-button {
  position: relative;
  display: inline-block;
}
.zs-radio-button__inner {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #dadada;
  border-left: 0;
  color: #434343;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  position: relative;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 0;
}
.zs-radio-button__inner:hover {
  color: #0696f5;
}
.zs-radio-button__inner [class*="zs-icon-"] {
  line-height: 0.9;
}
.zs-radio-button__inner [class*="zs-icon-"] + span {
  margin-left: 5px;
}
.zs-radio-button__orig-radio {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  left: -999px;
}
.zs-radio-button__orig-radio:checked + .zs-radio-button__inner {
  color: #fff;
  background-color: #0696f5;
  border-color: #0696f5 !important;
  box-shadow: -1px 0 0 0 #0696f5;
}
.zs-radio-button__orig-radio:disabled + .zs-radio-button__inner {
  color: #eee;
  cursor: not-allowed;
  background-image: none;
  background-color: #eee !important;
  border-color: #eee;
}
.zs-radio-button:first-child .zs-radio-button__inner {
  border-left: 1px solid #dadada;
  border-radius: 4px 0 0 4px;
  box-shadow: none !important;
}
.zs-radio-button:last-child .zs-radio-button__inner {
  border-radius: 0 4px 4px 0;
}
.zs-radio-button__large .zs-radio-button__inner {
  padding: 11px 19px;
  font-size: 16px;
  border-radius: 0;
}
.zs-radio-button__small .zs-radio-button__inner {
  padding: 7px 9px;
  font-size: 12px;
  border-radius: 0;
}
.zs-radio-button__mini .zs-radio-button__inner {
  padding: 4px 4px;
  font-size: 12px;
  border-radius: 0;
}
