/* Transition
 -------------------------- */
/* gradient
 -------------------------- */
/* Colors
// -------------------------- */
/* Link
 -------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* Fill
-------------------------- */
/* Font
-------------------------- */
/* z-index
 -------------------------- */
/* Disable base
-------------------------- */
/* Icon
 -------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Input
-------------------------- */
/* Button
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Loading
 --------------------------*/
/* Notice
 --------------------------*/
/* Message Box
 -------------------------- */
/* Message
-------------------------- */
/* Dialog
-------------------------- */
/* Tag
-------------------------- */
/* Switch
-------------------------- */
/* Scrollbar
--------------------------*/
/* Popover
-------------------------- */
/* Tooltip
  -------------------------- */
/* Steps
--------------------------*/
/* clearfix
--------------------------*/
.zs-select-dropdown {
  position: absolute;
  z-index: 1001;
  border: solid 1px #eee;
  border-radius: 0px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  margin: 5px 0;
}
.zs-select-dropdown.is-multiple .zs-select-dropdown__item.selected {
  color: #0696f5;
  background-color: #fff;
}
.zs-select-dropdown.is-multiple .zs-select-dropdown__item.selected.hover {
  background-color: #0697f6;
}
.zs-select-dropdown.is-multiple .zs-select-dropdown__item.selected::after {
  position: absolute;
  right: 10px;
  font-family: 'zs-icons';
  content: "\E608";
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.zs-select-dropdown .zs-scrollbar.is-empty .zs-select-dropdown__list {
  padding: 0;
}
.zs-select-dropdown__empty {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  color: #999;
  font-size: 14px;
}
.zs-select-dropdown__wrap {
  max-height: 274px;
}
.zs-select-dropdown__list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.zs-select-group {
  margin: 0;
  padding: 0;
}
.zs-select-group__wrap {
  list-style: none;
  margin: 0;
  padding: 0;
}
.zs-select-group__title {
  padding-left: 10px;
  font-size: 12px;
  color: #999;
  height: 30px;
  line-height: 30px;
}
.zs-select-group .zs-select-dropdown__item {
  padding-left: 20px;
}
.zs-select-dropdown__item {
  font-size: 14px;
  padding: 8px 10px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #434343;
  height: 36px;
  line-height: 1.5;
  box-sizing: border-box;
  cursor: pointer;
}
.zs-select-dropdown__item.is-disabled {
  color: #eee;
  cursor: not-allowed;
}
.zs-select-dropdown__item.is-disabled:hover {
  background-color: #fff;
}
.zs-select-dropdown__item.hover {
  color: #fff;
  background-color: #0697f6;
}
.zs-select-dropdown__item.selected {
  color: #fff;
  background-color: #0696f5;
}
.zs-select-dropdown__item.selected.hover {
  background-color: #0692ef;
}
.zs-select-dropdown__item span {
  line-height: 1.5 !important;
}
.zs-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.zs-scrollbar:hover .zs-scrollbar__bar,
.zs-scrollbar:active .zs-scrollbar__bar,
.zs-scrollbar:focus .zs-scrollbar__bar {
  opacity: 1;
  transition: opacity 340ms ease-out;
}
.zs-scrollbar__wrap {
  overflow: scroll;
  overflow-x: hidden !important;
  margin-bottom: 0 !important;
}
.zs-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.zs-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: rgba(6, 150, 245, 0.3);
  transition: 0.3s background-color;
}
.zs-scrollbar__thumb:hover {
  background-color: rgba(6, 150, 245, 0.5);
}
.zs-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 11;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 120ms ease-out;
}
.zs-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px;
}
.zs-scrollbar__bar.is-vertical > div {
  width: 100%;
}
.zs-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px;
}
.zs-scrollbar__bar.is-horizontal > div {
  height: 100%;
}
.zs-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.zs-input__inner {
  appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 0px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  color: #434343;
  display: block;
  font-size: inherit;
  height: 36px;
  line-height: 1;
  outline: none;
  padding: 3px 10px 3px 16px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.zs-input__inner::placeholder {
  color: #999;
}
.zs-input__inner:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.zs-input__icon {
  position: absolute;
  width: 36px;
  height: 100%;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 16px;
  color: #b8b9bb;
  transition: all .3s;
}
.zs-input__icon:after {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.zs-input__icon + .zs-input__inner {
  padding-right: 35px;
}
.zs-input__icon.is-clickable:hover {
  cursor: pointer;
  color: #0696f5;
}
.zs-input__icon.is-clickable:hover + .zs-input__inner {
  border-color: #0696f5;
}
.zs-input__icon-prev {
  right: auto;
  left: 0;
}
.zs-input__icon-prev + .zs-input__icon + .zs-input__inner,
.zs-input__icon-prev + .zs-input__inner {
  padding-left: 35px;
}
.zs-input.is-active .zs-input__inner {
  outline: none;
  border-color: #0696f5;
}
.zs-input.is-disabled .zs-input__inner {
  background-color: none;
  border-color: #eee;
  color: #888;
  cursor: not-allowed;
}
.zs-input.is-disabled .zs-input__inner::placeholder {
  color: #eee;
}
.zs-input.is-disabled .zs-input__icon {
  color: #eee !important;
}
.zs-input__large {
  font-size: 16px;
}
.zs-input__large .zs-input__inner {
  height: 42px;
}
.zs-input__small {
  font-size: 13px;
}
.zs-input__small .zs-input__inner {
  height: 30px;
}
.zs-input__mini {
  font-size: 12px;
}
.zs-input__mini .zs-input__inner {
  height: 22px;
}
.zs-input.is-search .zs-input__inner {
  transition: 0s;
}
.zs-input.is-search .zs-input__inner.is-focus {
  border-color: #0696f5;
  box-shadow: 0 2px 4px rgba(6, 150, 245, 0.12), 0 0 6px rgba(6, 150, 245, 0.12);
}
.zs-input.is-search .zs-input__inner.is-focus + .zs-icon-search {
  background: #0696f5;
  color: #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.zs-input.is-search .zs-icon-search {
  cursor: pointer;
  transition: 0s;
}
.zs-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
}
.zs-input-group > .zs-input__inner {
  vertical-align: middle;
  display: table-cell;
}
.zs-input-group__append,
.zs-input-group__prepend {
  background-color: #999;
  color: #fff;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #999;
  border-radius: 0px;
  padding: 0 10px;
  width: 1%;
  white-space: nowrap;
}
.zs-input-group__append .zs-select,
.zs-input-group__prepend .zs-select,
.zs-input-group__append .zs-button,
.zs-input-group__prepend .zs-button {
  display: block;
  margin: -10px;
}
.zs-input-group__append .zs-button,
.zs-input-group__prepend .zs-button,
.zs-input-group__append .zs-select .zs-input__inner,
.zs-input-group__prepend .zs-select .zs-input__inner,
.zs-input-group__append .zs-select:hover .zs-input__inner,
.zs-input-group__prepend .zs-select:hover .zs-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0;
}
.zs-input-group__append .zs-button,
.zs-input-group__prepend .zs-button,
.zs-input-group__append .zs-input,
.zs-input-group__prepend .zs-input {
  font-size: inherit;
}
.zs-input-group__prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.zs-input-group__append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.zs-input-group-prepend .zs-input__inner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.zs-input-group-append .zs-input__inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.zs-textarea {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
.zs-textarea__inner {
  display: block;
  resize: vertical;
  padding: 12px 16px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  color: #434343;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadada;
  border-radius: 0px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.zs-textarea__inner::placeholder {
  color: #999;
}
.zs-textarea__inner:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.zs-textarea.is-disabled .zs-textarea__inner {
  background-color: #eee;
  border-color: #eee;
  color: #eee;
  cursor: not-allowed;
}
.zs-textarea.is-disabled .zs-textarea__inner::placeholder {
  color: #eee;
}
.zs-tag {
  position: relative;
  background-color: #fff;
  display: inline-block;
  padding: 0 30px 0 10px;
  height: 36px;
  line-height: 34px;
  font-size: 12px;
  color: #434343;
  border-radius: 0px;
  box-sizing: border-box;
  border: 1px solid #dadada;
  white-space: nowrap;
  cursor: pointer;
}
.zs-tag:hover {
  border-color: #0696f5;
  color: #0696f5;
}
.zs-tag:hover .zs-icon-close {
  color: #0696f5;
}
.zs-tag__icon {
  border-radius: 50%;
  text-align: center;
  position: absolute;
  cursor: pointer;
  font-size: 12px;
  height: 12px;
  width: 12px;
  line-height: 12px;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%) scale(0.75, 0.75);
  right: 10px;
  color: #999;
}
.zs-tag__gray {
  background-color: #999;
  border-color: #999;
  color: #434343;
}
.zs-tag__gray.is-hit {
  border-color: #434343;
}
.zs-tag__gray .zs-tag__icon:hover {
  background-color: #434343;
  color: #fff;
}
.zs-tag__primary {
  background-color: rgba(6, 150, 245, 0.1);
  border-color: rgba(6, 150, 245, 0.2);
  color: #0696f5;
}
.zs-tag__primary.is-hit {
  border-color: #0696f5;
}
.zs-tag__primary .zs-tag__icon:hover {
  background-color: #0696f5;
  color: #fff;
}
.zs-tag__success {
  background-color: rgba(18, 206, 102, 0.1);
  border-color: rgba(18, 206, 102, 0.2);
  color: #1bc91a;
}
.zs-tag__success.is-hit {
  border-color: #1bc91a;
}
.zs-tag__success .zs-tag__icon:hover {
  background-color: #1bc91a;
  color: #fff;
}
.zs-tag__warning {
  background-color: rgba(247, 186, 41, 0.1);
  border-color: rgba(247, 186, 41, 0.2);
  color: #fe931f;
}
.zs-tag__warning.is-hit {
  border-color: #fe931f;
}
.zs-tag__warning .zs-tag__icon:hover {
  background-color: #fe931f;
  color: #fff;
}
.zs-tag__danger {
  background-color: rgba(255, 73, 73, 0.1);
  border-color: rgba(255, 73, 73, 0.2);
  color: #eb433a;
}
.zs-tag__danger.is-hit {
  border-color: #eb433a;
}
.zs-tag__danger .zs-tag__icon:hover {
  background-color: #eb433a;
  color: #fff;
}
.zs-select {
  display: inline-block;
  position: relative;
}
.zs-select .zs-input__inner {
  cursor: pointer;
}
.zs-select .zs-input__inner:focus {
  border-color: #dadada;
  box-shadow: none;
}
.zs-select .zs-input__inner::placeholder {
  color: #434343;
}
.zs-select .zs-input .zs-input__icon {
  font-size: 12px;
  transition: transform .3s;
  transform: translateY(-50%) rotateZ(180deg);
  line-height: 16px;
  top: 50%;
  cursor: pointer;
}
.zs-select .zs-input .zs-input__icon.is-reverse {
  transform: translateY(-50%);
}
.zs-select .zs-input .zs-input__icon.is-show-close {
  transition: 0s;
  size: 16px;
  font-size: 14px;
  text-align: center;
  transform: translateY(-50%) rotateZ(180deg);
  border-radius: 100%;
  color: #434343;
}
.zs-select .zs-input .zs-input__icon.is-show-close:hover {
  color: #434343;
}
.zs-select .zs-input.is-disabled .zs-input__inner {
  cursor: not-allowed;
}
.zs-select .zs-input.is-disabled .zs-input__inner:hover {
  border-color: #eee;
}
.zs-select__input {
  border: none;
  outline: none;
  padding: 0;
  margin-left: 10px;
  color: #666;
  font-size: v 14px;
  vertical-align: baseline;
  appearance: none;
  height: 28px;
  background-color: transparent;
}
.zs-select__input.is-mini {
  height: 14px;
}
.zs-select__close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  z-index: 1000;
  right: 25px;
  color: #434343;
  line-height: 18px;
  font-size: 12px;
}
.zs-select__close:hover {
  color: #434343;
}
.zs-select__tags {
  position: absolute;
  line-height: normal;
  white-space: normal;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
}
.zs-select .zs-tag__close {
  margin-top: -2px;
}
.zs-select .zs-tag {
  height: 24px;
  line-height: 24px;
  box-sizing: border-box;
  margin: 3px 0 3px 6px;
}
.zs-select__tag {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #0696f5;
}
.zs-select__tag .zs-icon-close {
  font-size: 12px;
}
